.main-tree__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-sub__conatiner {
  padding: 1em;
  height: 100vh;
  width: 15%;
  border: 1px solid cyan;
  overflow: auto;
  padding-left: 2em;
}
.folder_container {
  border: 1px solid blue;
  padding: 0.2em;
}
